@import 'tailwindcss';
@import "flowbite/src/themes/default";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flowbite";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@plugin "daisyui";

@import 'flowbite/dist/flowbite.css';

/* Style untuk tombol edit di foto profil */
.profile-edit-button {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    background-color: white;
    border-radius: 50%; 
    padding: 4px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb; /* gray-200 */
    transform: translate(10%, 10%);
} 

.btn-indi{
    @apply w-full text-white bg-indigo-950 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-3 text-center transition ease-in-out duration-150;
}

//profile
.profile-verified-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    padding: 2px; /* Anda bisa sesuaikan padding ini */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translate(15%, 15%); /* Sedikit keluar */
}

//agenda karyawan
 .flatpickr-calendar.inline {
            box-shadow: none !important;
            border: none !important;
        }
        .flatpickr-day.today {
            background-color: #4338CA !important;
            color: white !important;
        }
        .flatpickr-day.selected {
            background-color: #312E81 !important;
            color: white !important;
        }
        .flatpickr-months .flatpickr-month {
            font-weight: 600;
            color: #1E1B4B;
        }
        .flatpickr-weekday {
            color: #4338CA !important;
            font-weight: 600;
        }

.swal2-popup .swal2-styled.swal2-confirm {
    /* Ganti warna default Flowbite/SweetAlert dengan warna indigo tema Anda.
      !important mungkin diperlukan untuk meng-override style inline. 
    */
    background-color: #312e81 !important; /* indigo-950 */
    color: #fff !important;
}

.swal2-popup .swal2-styled.swal2-cancel {
    background-color: #6b7280 !important; /* gray-500 */
    color: #fff !important;
}

/* Khusus untuk tombol konfirmasi HAPUS (merah) */
.swal2-popup .swal2-styled.swal2-confirm.swal2-color-danger {
    background-color: #E11D48 !important; /* Contoh: red-600 */
}

